/* font imports */
@import url('https://fonts.googleapis.com/css2?family=Radio+Canada+Big&display=swap');
@import url('https://fonts.googleapis.com/css2?family=Titillium+Web&display=swap');

/* global styles */
* {
    margin: 0;
    padding: 0;
}

/* header styles */
header {
    display: flex;
    justify-content: space-between;
    align-items: center;
    background-color: rgb(250, 105, 40);
}

/* header logo styles */
section.header_logo > img {
    width: 50%;
}

/* header navigatie styles */
nav.header_navigatie {
    display: flex;
    margin-right: 10px;
}

nav.header_navigatie > a {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 24px;
    text-decoration: none;
    padding: 1vh 1vw;
}

nav.header_navigatie > a:link, a:visited, a:active {
    color: whitesmoke;
}

nav.header_navigatie > a:hover {
    color: rgb(80, 80, 80);
}

/* footer styles */
footer {
    display: flex;
    justify-content: center;
    text-align: center;
    background-color: rgb(250, 105, 40);
    padding: 10px;
    color: white;
}

section.footer_main > h1 {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 24px;
    margin-bottom: 10px;
}

section.footer_main > p {
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
}

#footer_contact {
    color: rgb(221, 212, 212);
}

#footer_copyright {
    color: rgb(0, 0, 0);
}

section.home_begin {
    display: flex;
    justify-content: center;
    align-items: center;
    overflow: hidden;
    height: 75vh;
}

section.home_begin > img {
    width: 100%;
    height: 100%;
    object-fit: cover;
    object-position: center;
}

section.home_text_overlay {
    position: absolute;
    left: 20px;
    background-color: rgba(0, 0, 0, 0.25);
    padding: 20px;
    color: white;
}

section.home_text_overlay > a.button {
    display: inline-block;
    font-size: 18px;
    margin-top: 10px;
    padding: 10px 20px;
    background-color: rgb(250, 105, 40);
    color: white;
    text-decoration: none;
    font-family: "Radio Canada Big", sans-serif;
}

section.home_text_overlay a.button:hover {
    color: black;
}

section.home_text_overlay h1 {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 32px;
    text-align: center;
}

section.home_text_overlay p {
    font-family: "Titillium Web", sans-serif;
    font-size: 18px;
}

section.home_middel {
    display: flex;
    padding: 20px;
    margin: 20px;
    background-color: rgb(250, 105, 40);
    border: 1px solid #959595;
}

section.home_middel h1 {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 32px;
}

section.home_middel p {
    font-family: "Titillium Web", sans-serif;
    font-size: 20px;
}

section.home_container {
    padding: 20px;
    background-color: rgb(252, 136, 78);
    border: 1px solid #959595;
    margin-right: 20px;
    flex-grow: 1;
}

section.high_scores {
    display: flex;
    border: 1px solid #eeeeee;
    flex-direction: column;
    font-family: "Titillium Web", sans-serif;
    font-size: 20px;
    margin-top: 20px;
}

section.high_scores .high_score_row {
    display: flex;
    margin-bottom: 10px;
}

section.high_scores .column {
    flex: 1;
    padding: 5px;
}

section.high_scores hr {
    border: none;
    height: 1px;
    background-color: #eeeeee;
    margin: 2px 0;
}

section.home_slideshow {
    display: flex;
}

section.home_slideshow > img {
    height: auto;
    max-width: 100%;
    width: 500px;
}

/* form styles */
form.account_formulier {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 0 auto;
    margin-top: 50px;
    margin-bottom: 50px;
    padding: 20px;
    border: 1px solid #959595;
    background-color: #f9f9f9;
}

form.account_formulier h1 {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

form.account_formulier label {
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}

form.account_formulier input[type="text"], form.account_formulier input[type="password"], form.account_formulier textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #959595;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

form.account_formulier input[type="submit"] {
    background-color: rgb(250, 105, 40);
    color: white;
    padding: 10px 20px;
    width: 400px;
    text-align: center;
    cursor: pointer;
    font-family: "Radio Canada Big", sans-serif;
    font-size: 18px;
}

form.account_formulier select {
    width: 400px;
    cursor: pointer;
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
}
    
form.account_formulier input[type="submit"]:hover {
    color: #000000;
}

.account_label_bold {
    font-weight: bold;
}

.login_link_text {
    font-family: "Radio Canada Big", sans-serif;
    color: rgb(250, 105, 40);
    text-decoration: none;
}

.login_link_text:hover {
    color: #000000;
}

.login_link_text.right-align {
    text-align: right;
    margin-bottom: 10px;
}

.login_link_text.left-align {
    text-align: left;
    margin-top: 10px;
}

/* games pagina */
section.games_overzicht {
    display: grid;
    margin: 20px;
    grid-template-columns: repeat(auto-fit, minmax(300px, 1fr));
    gap: 20px;
}

section.game {
    padding: 20px;
    background-color: rgb(250, 105, 40);
    border: 1px solid #959595;
}

section.game h1 {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 24px;
}

section.game p {
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
}

section.game img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* hangman game styles */
section.hangman_container {
    display: flex;
    justify-content: center;
    align-items: center;
}

section.game_container {
    display: flex;
    flex-direction: column;
    margin: 50px;
    padding: 20px;
    border: 1px solid #959595;
    background-color: #f9f9f9;
}

section.game_container .woord_display_section, section.game_container .game_over_display_section {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 48px;
    margin-bottom: 10px;
}

section.game_container .gok_letter, section.game_container .raad_woord, section.game_container .hint_woord {
    display: flex;
    align-items: center;
    margin-bottom: 5px;
}

section.game_container label {
    font-weight: bold;
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    margin-right: 5px;
}

section.game_container .input_field {
    padding: 10px;
    margin-right: 10px;
    border: 1px solid #959595;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

section.game_container .gok_button, section.game_container .raad_button, section.game_container .hint_button {
    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgb(250, 105, 40);
    color: white;
    text-decoration: none;
    font-family: "Radio Canada Big", sans-serif;
    cursor: pointer;
}

section.game_container .gok_button:hover, section.game_container .raad_button:hover, section.game_container .hint_button:hover {
    color: black;
}

section.game_container .hint_display {
    margin-left: 5px;
    font-family: "Titillium Web", sans-serif;
    font-style: italic;
}

/* vrienden pagina */
section.gebruikers_lijst {
    display: grid;
    margin: 10px;
    grid-template-columns: repeat(auto-fit, 300px);
    gap: 20px;
    justify-content: center;
}

section.gebruiker > a.button {
    display: flex;
    justify-content: center;
    align-items: center;
    text-align: center;
    font-size: 16px;
    padding: 10px 20px;
    background-color: rgb(70, 54, 47);
    color: white;
    text-decoration: none;
    font-family: "Radio Canada Big", sans-serif;
}

section.gebruiker a.button:hover {
    color: orange;
}

section.gebruiker {
    padding: 20px;
    background-color: rgb(250, 105, 40);
    border: 1px solid #959595;
}

section.gebruiker h1 {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 24px;
}

section.gebruiker p {
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
}

section.gebruiker img {
    display: block;
    margin: 0 auto;
    max-width: 100%;
    height: auto;
}

/* header styles */
section.vrienden_header {
    display: flex;
    margin-top: 20px;
    margin-right: 20px;
    margin-left: 20px;
    justify-content: space-between;
    align-items: center;
    border: 1px solid #959595;
    background-color: #f9f9f9;
}

section.vrienden_zoek {
    display: flex;
    flex-direction: column;
    margin-left: 5px;
}

section.vrienden_zoek > label {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 22px;
    margin-bottom: 0px;
}

section.vrienden_zoek input[type="text"] {
    width: 100%;
    padding: 5px;
    margin-bottom: 10px;
    border: 1px solid #959595;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

/* vrienden header button styles */
section.vrienden_button > a.button {
    margin-right: 5px;

    display: inline-block;
    font-size: 18px;
    padding: 10px 20px;
    background-color: rgb(250, 105, 40);
    color: white;
    text-decoration: none;
    font-family: "Radio Canada Big", sans-serif;
}

section.vrienden_button a.button:hover {
    color: black;
}

section.profiel_main {
    display: flex;
    flex-direction: row;
    margin: 20px;
    background-color: rgb(250, 105, 40);
    border: 1px solid #959595;
}

section.profiel_details {
    background-color: red;
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 10px;
    padding: 20px;
    border: 1px solid #959595;
    background-color: #f9f9f9;
}

section.profiel_details {
    display: flex;
    flex-direction: column;
    max-width: 400px;
    margin: 20px;
    padding: 20px;
    border: 1px solid #959595;
    background-color: #f9f9f9;
    max-height: 600px;
}

section.profiel_details h1 {
    font-family: "Radio Canada Big", sans-serif;
    font-size: 24px;
    margin-bottom: 20px;
}

section.profiel_details label {
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
    margin-bottom: 5px;
}

section.profiel_details input[type="text"], section.profiel_details input[type="password"], section.profiel_details textarea {
    width: 100%;
    padding: 10px;
    margin-bottom: 10px;
    border: 1px solid #959595;
    box-sizing: border-box;
    font-family: "Titillium Web", sans-serif;
}

section.profiel_details input[type="submit"] {
    background-color: rgb(250, 105, 40);
    color: white;
    padding: 10px 20px;
    width: 400px;
    text-align: center;
    cursor: pointer;
    font-family: "Radio Canada Big", sans-serif;
    font-size: 18px;
}

section.profiel_details select {
    width: 400px;
    cursor: pointer;
    font-family: "Titillium Web", sans-serif;
    font-size: 16px;
}
    
section.profiel_details input[type="submit"]:hover {
    color: #000000;
}

section.profiel_details .button {
    background-color: rgb(255, 6, 6);
    color: white;
    padding: 10px 20px;
    margin-top: 20px;
    width: 200px;
    text-align: center;
    cursor: pointer;
    font-family: "Radio Canada Big", sans-serif;
    text-decoration: none;
    font-size: 18px;
}

section.profiel_details .button:hover {
    color: #000000;
}

.profiel_main input[name="Gebruikersnaam"], input[name="ID"] {
    background-color: transparent;
    border: none;
    outline: none;
    color: #333;
    font-size: 1rem;
    padding: 0.5rem 0;
}